@use "../utils/" as u;
@use "../globals/colors" as c;

h1 {
  line-height: 1.1;
  font-size: 3.5rem;
  font-weight: 400;

  @include u.breakpoint(medium) {
    font-size: 4.5rem;
  }
  @include u.breakpoint(large) {
    font-size: 5.5rem;
  }
}
h2 {
  line-height: 1.1;
  font-size: 2.5rem;
  font-weight: 400;
}
h3 {
  line-height: 1.1;
  font-size: 2rem;
  margin-bottom: 0;
}
p {
  margin-top: 0;
  font-size: 1.6rem;
  line-height: 1.5;

  @include u.breakpoint(large) {
    font-size: 2rem;
  }
}
label {
  font-size: 1.7rem;
  @include u.breakpoint(large) {
    font-size: 2rem;
  }
}
input,
select {
  font-size: 1.5rem;
}

.btn {
  font-size: 1rem;
}
